---
root: ../
title: Contact
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 5
---

<div class="article spacing background_none contact">
    <section class="article--section container spacing">
        <div class="article--content">
        <h2 class="text-white">Contact me</h2>
        <div class="titleUnderlined"></div>

        <p class="text-gray">
        <img src="{{root}}assets/img/icons/smartphone.svg"/>
        <a href="tel:+32495675299" target="_blank">+32 495 67 52 99</a>
        </p>

        <p class="text-gray">
        <img src="{{root}}assets/img/icons/email.svg"/>
        <a href="mailto:Nroofthooft2012@gmail.com" target="_blank">Nroofthooft2012@gmail.com</a>
        </p>

        <p class="text-gray">
        <img src="{{root}}assets/img/icons/linkedin.svg"/>
        <a href="https://www.linkedin.com/in/nick-roofthooft-10b1a91a2/" target="_blank">Linked In</a>
        </p>
        </div>
        <div class="article--image box-shadow-left">
          <img src="{{root}}assets/img/contact_me.jpg">
          </div>
    </section>
</div>
