---
layout: base
title: My Projects
root: ../
---
<div class="projects--container wrapper">
  <h2 class="subtitle projects--title">This page shows some projects i made as assignment for Artevelde Hogeschool in my first year</h2>

        <section class="projects">
          {% include "_components/projects.njk" %}
        </section>
        <section class="scrolling">
          <ul>

            <li>s</li>
            <li>c</li>
            <li>r</li>
            <li>o</li>
            <li>l</li>
            <li>l</li>
            <li></li>
            <li>h</li>
            <li>e</li>
            <li>r</li>
            <li>e</li>
          </ul>
        </section>
</div>


