{# ---
layout: layouts/base_light.njk
eleventyNavigation:
  key: Team
  order: 4
title: Team
--- #}

<div class="team article spacing">
    <section class="article--section container spacing">
        <div class="article--content">
        <h2>About us</h2>
        <div class="titleUnderlined"></div>
        <p>Over the years, we developed more than 500 applications for clients such as Barco, Telenet and BMW. Every day millions of people use our products to pay, travel, work or read the news.</p>
        </div>
                <div class="team--hero--image side-line">
          <img src="assets/img//images/team_about-us.jpg">
          </div>
    </section>
</div>

<div class="article text-black spacing">
    <section class="article--section container spacing">
        <div class="article--image">
        <img src="assets/img//images/subscribtion-letter.jpg">
        </div>
        <div class="article--content">
        <h2>A dedicated team</h2>
        <div class="titleUnderlined"></div>
        <p>We're a team of 120 engineers, product designers, data scientists and strategists with a passion to create digital products that make people happy and businesses grow.</p>
        <p class="text_gray">
        Launched in 2010 as a mobile agency, we quickly shifted to become Belgium’s finest Digital Product Studio. From strategy to product launch and beyond, we work in strategic partnerships with companies that take their digital future seriously.</p>
        </div>
    </section>
</div>

<div class="sectionDevider spacing">
  <p class="sectionDevider--line"></p>
  </div>


<div class="team--qoute spacing">
<h2 class="container"><span class="text_red">"</span>Our greatest asset are the people working at In The Pocket and the way they’re empowering each other. Without them, we wouldn’t even exist.</h2>
</div>

<div class="sectionDevider spacing">
  <p class="sectionDevider--line"></p>
  </div>

<div class="team--video spacing">
  <div class="container">
    <iframe scrolling="no" frameborder="0" id="player" src="https://player.vimeo.com/video/371586567?app_id=122963&amp;referrer=https%3A%2F%2Fwww.inthepocket.com%2F"></iframe>
  </div>
</div>

<div class="article text-black spacing">
    <section class="article--section  container spacing">
        <div class="article--image">
        <img src="assets/img//images/team_serious-about-your-digital-fututre.jpg">
        </div>
        <div class="article--content">
        <h2>Serious about your digital future</h2>
        <div class="titleUnderlined"></div>
        <p>In The Pocket represents a new generation. We’re not management consultants, we’re not niche players and we’re not a traditional IT-company. Instead, we’re always searching for the best value proposition we can offer to companies that are serious about their digital future.</p>
        <p class="text_gray">
        By joining forces with us, you experience the full power of digital. We navigate you towards growth through playbooks for successful delivery, proven methodologies and the talent of genuinely smart and dedicated people.</p>
        <h3>Our work<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve">
<g>
	<g>
		<path d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136
			c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002
			v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864
			c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872
			l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</h3>
        </div>
    </section>
</div>

<div class="background_white spacing">
  <section class="team--work spacing  container">
    <div class="team--work--card">
      <section>
        <h2>Our work</h2>
        <div class="titleUnderlined"></div>
      </section>
      <section class="team--work--card--color">
        <h2>Ghent</h2>
        <p>Our Work</p>
      </section>
    </div>

    <div class="team--work--card">
      <section class="team--work--card--color">
        <h2>Leuven</h2>
        <p>Our Work</p>
      </section>
      <section class="team--work--card--content">
        <p>Home is where we want to be - and we're lucky to be able to call these places our home</p>
      </section>
    </div>

  </section>
</div>

