.footer {
    border-top: 1px solid $gray-200;
    background: #161616;
    color: $gray-100;
    padding: 2rem 0 1rem 0;
    z-index: 1;
    .copyright{
        text-align: center;
        color: white;
        margin-bottom: 0;
        font-size: 1rem;
      }
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        
        a{
            color: white;
            
            &:hover {
                color: $Rood;
                text-decoration: 2px underline $Rood;
                transition: 0.125s ease;
            }
        }
    }
    div{

        div{
            display: flex;
            flex-direction: column;
            width: 100%;
            @media (min-width: 875px) {
                    flex-direction: row;
                justify-content: space-evenly;
                }
                section{
                    margin: 1rem 0;
                    @media (min-width: 875px) {
                        margin: 0;
                    }
                }
        }
    }
}