.header{
  .nav{
    width: fit-content;
a{
  color:white;
}
  }
  div{
    div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: -18px;
      margin-left: -18px;
    }
  }
  h1, h2, h3, h4, p{
    color: white;
  }
  height: 20vh;
  
  z-index: 2;
  &--light{
    .menu-btn{
      fill:black;
  }
    .nav{
      width: fit-content;
    a{
      color:white;
    }
    .menu-btn-exit{
      fill: white;
    }
    h1, h2, h3, h4, p{
      color: black;
    }
    
    @media (min-width:800px) {
        a{
        color: black
      }
    }
}
}
}