@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", sans-serif;
  --font-family-monospace: "IBM Plex Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -18px;
  margin-left: -18px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
.logo {
  font-weight: 300;
  width: fit-content;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  height: fit-content;
  border-bottom: 4px solid #F24C4C;
  border-left: 4px solid #F24C4C;
  border-top: 4px solid rgba(255, 255, 255, 0);
  border-right: 4px solid rgba(255, 255, 255, 0);
  padding: 5px;
  transition: 0.125s ease all;
}
@media (min-width: 750px) {
  .logo {
    font-size: 2rem;
  }
}
.logo:hover {
  border-top: 4px solid #F24C4C;
  border-right: 4px solid #F24C4C;
  transition: 0.125s ease all;
}
.logo a {
  color: white;
  text-decoration: none;
}

.nav {
  background-color: #272727;
  position: absolute;
  width: 100%;
  top: -350px;
  left: 0;
  opacity: 0;
  transition: 0.125s ease;
  visibility: hidden;
  --nav-spacing: 18px;
  opacity: 100;
}
.nav.open {
  transition: 0.125s ease;
  opacity: 100;
  top: 0;
  visibility: visible;
}
.nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 2rem 0;
}
.nav__list-item {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.nav__list-item > a {
  display: block;
  box-sizing: border-box;
  color: #fff;
  padding: calc(var(--nav-spacing)/2) var(--nav-spacing);
  text-decoration: none;
  border-bottom: 0.25rem solid #1D1D1D;
}
.nav__list-item > a:hover {
  border-bottom: 0.25rem solid #F24C4C;
  cursor: pointer;
  transition: 0.125s;
}
.nav__list-item--active {
  box-sizing: border-box;
}
.nav__list-item--active > a {
  border-bottom: 0.25rem solid #F24C4C;
}
@media (min-width: 775px) {
  .nav {
    opacity: 100;
    top: 0;
    background-color: unset;
    position: relative;
    width: unset;
    visibility: visible;
  }
  .nav a {
    font-size: 1.2rem;
  }
}
@media (min-width: 775px) and (min-width: 1000px) {
  .nav a {
    font-size: 2rem;
  }
}
@media (min-width: 775px) {
  .nav ul {
    padding: 3rem 0;
  }
}
@media (min-width: 775px) {
  .nav__list {
    flex-direction: row;
  }
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav__list-item {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.footer-nav__list-item > a {
  position: relative;
  display: block;
  color: #f8f9fa;
  padding: calc(var(--nav-spacing)/4) var(--nav-spacing);
  text-decoration: none;
  transition: 0.125s ease;
}
.footer-nav__list-item > a:hover {
  color: #F24C4C;
  text-decoration: 2px underline #F24C4C;
  transition: 0.125s ease;
}
.footer-nav__list-item--active > a {
  color: #F24C4C !important;
  text-decoration: 2px underline #F24C4C;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.base--light {
  background-color: white;
}
.base--dark {
  background-color: #272727;
}

.header {
  height: 20vh;
  z-index: 2;
}
.header .nav {
  width: 100%;
}
.header .nav a {
  color: white;
}
.header div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -18px;
  margin-left: -18px;
}
.header h1, .header h2, .header h3, .header h4, .header p {
  color: white;
}
.header--light .menu-btn {
  fill: black;
}
.header--light .nav {
  width: fit-content;
}
.header--light .nav a {
  color: white;
}
.header--light .nav .menu-btn-exit {
  fill: white;
}
.header--light .nav h1, .header--light .nav h2, .header--light .nav h3, .header--light .nav h4, .header--light .nav p {
  color: black;
}
@media (min-width: 800px) {
  .header--light .nav a {
    color: black;
  }
}

.main {
  flex: 1;
  height: 80vh;
  z-index: 1;
  -moz-animation: fadeInAnimation 0.225s ease;
  -webkit-animation: fadeInAnimation 0.225s ease;
  animation: fadeInAnimation 0.225s ease;
}
.main--white {
  background-color: white;
}
.main--black {
  background-color: #1D1D1D;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  min-height: 80vh;
  height: fit-content;
}

.noLink {
  text-decoration: none;
  color: black;
}

#toTop {
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: unset;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  background: #1D1D1D;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: #545252 5rem 5rem 5rem 5rem;
}
#toTop a {
  color: #F24C4C;
}

.header--background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
}

.btn {
  border: 0.25rem solid #F24C4C;
  text-align: center;
  width: 8rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  transition: 0.3s ease;
}
.btn a {
  color: white;
  text-decoration: none;
}
.btn:hover {
  background-color: #F24C4C;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.text-gray {
  color: #EFEFEF;
}

.text-red {
  color: #F24C4C;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}
.text-black h1, .text-black h2, .text-black h3, .text-black h4, .text-black p,
.text-black a {
  color: black;
}

a:hover {
  color: inherit;
}

.background_white {
  background-color: white;
}

.background_none, .article.background_none {
  background-color: unset;
}

.menu-btn {
  width: 2rem;
  height: 2rem;
  display: block;
  fill: white;
}
.menu-btn:hover {
  cursor: pointer;
}
@media (min-width: 775px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-exit {
  width: 2rem;
  height: 2rem;
  display: none;
  fill: white;
  margin: 0 0 0 auto;
  display: none;
}
.menu-btn-exit.state {
  display: block;
  z-index: 2;
  margin-right: -2rem;
}
.menu-btn-exit.state:hover {
  cursor: pointer;
}

.titleUnderlined {
  background-color: #F24C4C;
  width: 5rem;
  height: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}

.arrowhoverRight {
  fill: red;
  width: 1.5rem;
  transition: 0.3s ease;
}
.arrowhoverRight:hover {
  cursor: pointer;
  transform: translateX(7px);
  transition: 0.3s ease;
}

.spacing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h2 {
  font-family: "Roboto", sans-serif;
}

.sectionDevider {
  background-color: white;
  width: 100%;
  height: 0.1rem;
}
.sectionDevider--line {
  height: 0.1rem;
  width: 80%;
  margin: auto;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: white;
}

@media (min-width: 875px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.3rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
}

.box-shadow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
@media (min-width: 875px) {
  .box-shadow {
    width: 45%;
    margin: 0;
  }
}
.box-shadow img {
  max-height: 70vh;
  max-width: 100%;
  background-color: white;
  box-shadow: 1rem 1rem #F24C4C;
}

.box-shadow-left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
@media (min-width: 875px) {
  .box-shadow-left {
    width: 45%;
    margin: 0;
  }
}
.box-shadow-left img {
  max-height: 70vh;
  max-width: 100%;
  background-color: white;
  box-shadow: -1rem -1rem #F24C4C;
}

.side-line {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 875px) {
  .side-line {
    width: 45%;
    justify-content: flex-end;
  }
}
.side-line img {
  max-height: 40vh;
  max-width: 100%;
  background-color: white;
  box-shadow: -1rem 0rem #F24C4C;
  transition: 0.125s ease all;
  margin-top: 2rem;
}
@media (min-width: 875px) {
  .side-line img {
    margin-top: 0;
    max-height: 70vh;
    transition: 0.125s ease all;
  }
}

.footer {
  border-top: 1px solid #e9ecef;
  background: #161616;
  color: #f8f9fa;
  padding: 2rem 0 10rem 0;
  z-index: 1;
}
.footer .copyright {
  text-align: center;
  color: white;
  margin-bottom: 0;
  font-size: 1rem;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
}
.footer li a {
  color: white;
}
.footer li a:hover {
  color: #F24C4C;
  text-decoration: 2px underline #F24C4C;
  transition: 0.125s ease;
}
.footer div div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 875px) {
  .footer div div {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.footer div div section {
  margin: 1rem 0;
}
@media (min-width: 875px) {
  .footer div div section {
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.hero--content h1 {
  width: 50rem;
  max-width: 100%;
}
.hero--content h1 span {
  color: #F24C4C;
}
.hero--content h1 span.underlined {
  text-decoration: underline dashed #F24C4C;
  color: white;
}

.digital {
  padding-top: 6rem;
}
@media (min-width: 1000px) {
  .digital {
    margin-top: 2rem;
  }
}

.experiences {
  margin-top: 1rem;
}
@media (min-width: 875px) {
  .experiences--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
}
.experiences--cards--content {
  transition: 0.3s ease;
  background-color: #272727;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
}
.experiences--cards--content h2 {
  transition: 0.2s ease;
}
@media (min-width: 875px) {
  .experiences--cards--content {
    max-width: 30%;
  }
}

@media (min-width: 875px) {
  .article--section {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
}
.article--image {
  display: flex;
}
@media (min-width: 875px) {
  .article--image {
    max-width: 45%;
  }
}
.article--image--mirror {
  margin: 0 0 0 auto;
  justify-content: flex-end;
  display: flex;
}
.article--image img {
  margin: auto;
  max-height: 70vh;
  max-width: 100%;
}
.article--content {
  align-self: center;
  height: fit-content;
}
@media (min-width: 875px) {
  .article--content {
    max-width: 40%;
  }
}
.article--content h3 {
  color: black;
  width: fit-content;
}
.article--content h3:hover {
  cursor: pointer;
}
.article--content h3:hover svg {
  transform: translateX(7px);
  transition: 0.3s ease;
}
.article--content h3 svg {
  fill: #F24C4C;
  width: 1.5rem;
  transition: 0.3s ease;
}

.portfolio {
  background-color: white;
}
.portfolio--content h2 {
  color: black;
}
.portfolio--content h3 {
  color: black;
  text-align: right;
  margin: 0 0 0 auto;
  width: fit-content;
}
.portfolio--content h3:hover {
  cursor: pointer;
}
.portfolio--content h3:hover svg {
  transform: translateX(7px);
  transition: 0.3s ease;
}
.portfolio--content h3 svg {
  width: 1.5rem;
  transition: 0.3s ease;
  fill: red;
}
.portfolio--content--cases {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}
.portfolio--content--cases .work_title {
  padding-left: 1rem;
}
.portfolio--content--cases a {
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 875px) {
  .portfolio--content--cases a {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .portfolio--content--cases a {
    width: 33%;
  }
}
.portfolio--content--cases img {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  height: 20rem;
}
@media (min-width: 875px) {
  .portfolio--content--cases {
    flex-direction: row;
  }
}

.skills {
  background-color: white;
  padding: 4rem 0;
  box-sizing: border-box;
}
.skills h2 {
  color: black;
}
@media (min-width: 1000px) {
  .skills {
    padding: 0;
  }
}
.skills--skills {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}
.skills--skills h3 {
  color: black;
  text-align: right;
  width: fit-content;
  margin-left: auto;
}
.skills--skills h3:hover svg {
  transform: translateX(7px);
  transition: 0.3s ease;
}
.skills--skills h3 svg {
  fill: #F24C4C;
  width: 1.5rem;
  transition: 0.3s ease;
}
.skills--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  margin: 2rem 0;
}
.skills--list div {
  margin: 0.5rem;
  width: fit-content;
  transition: 0.2s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills--list div:hover {
  transform: scale(1.2);
}
.skills--list div img {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 100%;
  transition: 0.125s ease all;
}
@media (min-width: 750px) {
  .skills--list div img {
    width: 5rem;
    height: 5rem;
    transition: 0.125s ease all;
  }
}
@media (min-width: 1200px) {
  .skills--list div img {
    width: 8rem;
    height: 8rem;
    transition: 0.125s ease all;
  }
}
.skills--list div p {
  text-align: center;
  color: black;
}

.subscribe {
  background-color: white;
}
.subscribe--container {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 875px) {
  .subscribe--container {
    flex-direction: row;
  }
}
.subscribe p {
  color: black;
}
.subscribe button {
  border: 1px solid #F24C4C;
  background-color: #F24C4C;
  height: 3rem;
  width: 6rem;
  color: white;
}
.subscribe input {
  border: 1px solid #272727;
  height: 3rem;
  width: 20rem;
}
.subscribe--content {
  margin: auto;
  max-width: 100%;
  margin-top: 2rem;
}
@media (min-width: 875px) {
  .subscribe--content {
    max-width: 50%;
    margin-top: 0;
  }
}
.subscribe--content h2 {
  color: black;
}
.subscribe--content ul {
  padding-inline-start: 0;
}
.subscribe--content ul li {
  text-decoration: none;
  list-style: none;
}
.subscribe--content--card {
  height: 20rem;
  width: unset;
}
@media (min-width: 875px) {
  .subscribe--content--card {
    width: fit-content;
  }
}
.subscribe--content--card img {
  width: 100%;
  max-height: 100%;
}
.subscribe--content div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.subscribe--content div div a figure {
  transition: 0.2s ease;
}
.subscribe--content div div a figure:hover {
  transition: 0.2s ease;
  transform: scale(1.1) rotate(3deg);
}
.subscribe--content div div a figure img {
  width: 4rem;
  margin: 1rem;
}

.services {
  height: 80vh;
}
.services h1, .services h2, .services h3, .services h4, .services p, .services a {
  white: black;
}
.services--hero--section {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 875px) {
  .services--hero--section {
    flex-direction: row;
  }
}
.services--hero--content {
  align-self: center;
  height: fit-content;
  width: 100%;
}
@media (min-width: 875px) {
  .services--hero--content {
    width: 50%;
  }
}
.services--hero--content h3 {
  width: fit-content;
}
.services--hero--content h3 svg {
  fill: #F24C4C;
  width: 1.5rem;
  transition: 0.3s ease;
  transform: rotate(90deg);
}
.services--hero--content h3:hover {
  cursor: pointer;
}
.services--hero--content h3:hover svg {
  transform: translateY(7px) rotate(90deg);
  transition: 0.3s ease;
}
.services--hero--content p {
  color: #a7a7a7;
}
.services--hero--content--card {
  width: 100%;
}
.services--hero--content--card img {
  background: black;
  box-shadow: -1rem -1rem #F24C4C;
  width: 10rem;
}
.services--hero--image {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 875px) {
  .services--hero--image {
    width: 45%;
  }
}
.services--hero--image--mirror {
  margin: 0 0 0 auto;
  justify-content: flex-end;
  display: flex;
}
.services--hero--image img {
  max-height: 70vh;
  max-width: 100%;
  box-shadow: -1rem -1rem #F24C4C;
  background-color: black;
}
.services--cards {
  background-color: white;
}
.services--cards--container {
  margin-top: 1rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 875px) {
  .services--cards--container {
    flex-direction: row;
  }
}
.services--cards--container--card {
  width: 100%;
  background-color: #272727;
  padding: 1.5rem;
}
@media (min-width: 875px) {
  .services--cards--container--card {
    width: 32%;
  }
}
.services--cards--container--card svg {
  margin-left: 1rem;
}
.services--cards--container--card section {
  display: flex;
}
.services--cards--container--card:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F24C4C;
}
@media (min-width: 875px) {
  .services--cards--container--card:nth-child(2) {
    margin-top: -1rem;
  }
}
.services--cards--container--card:nth-child(2) svg {
  fill: black;
}
.services--cards--container--card:nth-child(2) p span {
  color: black;
}
.services--container {
  background-color: white;
}
.services--container h2, .services--container h3, .services--container p {
  color: black;
}
.services--container--act--content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media (min-width: 875px) {
  .services--container--act--content {
    flex-direction: row;
  }
}
.services--container--act--content div {
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 875px) {
  .services--container--act--content div {
    width: 30%;
    margin: 0;
  }
}
.services--container--act--content span {
  width: 1px;
  height: 10rem;
  background-color: black;
  display: none;
}
.services--container--act--content span:last-child {
  display: none;
}
@media (min-width: 875px) {
  .services--container--act--content span {
    display: block;
  }
}
.services--container--strategy--article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 875px) {
  .services--container--strategy--article {
    flex-direction: row;
  }
}
.services--container--strategy--article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
}
.services--container--strategy--article ul li {
  list-style: none;
  width: 50%;
}
.services--container--strategy--image {
  width: 35%;
}
.services--container--strategy--image img {
  width: 100%;
}
.services--container--strategy--content {
  width: 100%;
}
@media (min-width: 875px) {
  .services--container--strategy--content {
    width: 60%;
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
}
.work--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-height: 80vh;
}
.work--menu section {
  width: 100%;
}
.work--menu section div {
  width: 100%;
}
.work--menu section ul {
  padding: 1rem;
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.work--menu section ul li {
  margin-bottom: 0.5rem;
  max-width: 100%;
  list-style: none;
  color: black;
  min-width: fit-content;
}
.work--menu section ul li a {
  border-bottom: 4px solid #F24C4C;
  color: #F24C4C;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.075s ease all;
}
.work--menu section ul li a:hover {
  text-decoration: none !important;
  border-bottom: 4px solid #d31616;
  color: #d31616;
  text-decoration: underline #d31616;
  transition: 0.1s ease all;
}
@media (min-width: 1200px) {
  .work--menu section {
    max-width: 75%;
  }
  .work--menu section ul {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: unset;
  }
  .work--menu section ul li {
    width: 50%;
  }
}
.work--filter {
  width: 100%;
  padding: 6rem 0;
}
.work--filter h2 {
  display: flex;
  justify-content: space-between;
}
.work--filter .clear-btn {
  display: none;
}
.work--filter ul {
  padding-top: 2rem;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.work--filter ul li {
  transition: 0.75s ease all;
  list-style: none;
  margin-bottom: 1rem;
}
.work--filter ul li p {
  background-color: #F24C4C;
  border-radius: 50px;
  margin: 0;
  padding: 0.9rem;
  margin: 0.5rem;
}
.work--filter ul li p.active {
  background-color: #d31616;
}
.work--filter ul li p:hover {
  transition: 0.25s ease all;
  background-color: #d31616;
}
.work--filter ul li a {
  text-decoration: none;
}
.work--cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.work--cards--card {
  padding: 1rem;
  margin: 1rem;
  background-color: #40404052;
}
.work--cards--card.hidden {
  display: none;
}
.work--cards--card.shown {
  transition: 0.125s ease all;
  display: block;
}
@media (min-width: 750px) {
  .work--cards--card.shown {
    transition: 0.125s ease all;
    display: flex;
  }
  .work--cards--card:nth-child(2n+0) {
    flex-direction: row-reverse;
    transition: 0.125s ease all;
  }
}
.work--cards--card h2 {
  color: #F24C4C;
}
.work--cards--card a {
  width: 49%;
  height: inherit;
  position: relative;
}
.work--cards--card a p {
  margin-top: -1.5rem;
  transition: 0.1s ease all;
  background-color: #F24C4C;
  opacity: 100;
  padding: 0.25rem;
}
@media (min-width: 750px) {
  .work--cards--card a p {
    margin-top: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 0.075s ease all;
  }
}
.work--cards--card a:hover p {
  transition: 0.075s ease all;
  opacity: 100;
}
.work--cards--card a img {
  max-width: 100%;
  width: 100%;
  max-height: 25rem;
  height: 100%;
  transition: 0.125s ease;
}
.work--cards--card a img:hover {
  box-shadow: -0.5rem -0.5rem #F24C4C;
  transition: 0.125s ease;
  cursor: pointer;
}
.work--cards--card div {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  transition: 0.125s ease all;
  margin-bottom: 37vh;
}
@media (min-width: 750px) {
  .work--cards--card div {
    margin: 0 1rem;
    width: 49%;
    transition: 0.125s ease all;
  }
}
.work--cards--card div h4 a {
  color: #a7a7a7;
}

.about {
  max-height: fit-content;
  min-height: 80vh;
}
.about h1, .about h2, .about h3, .about h4, .about p, .about a {
  color: black;
}
.about .article--section .article--content h2, .about .article--section .article--content p {
  color: white;
}
.about--qoute {
  text-align: center;
}
.about--qoute h2 {
  color: black;
}
.about--qoute span {
  font-size: 7rem;
}
.about--video {
  background-color: white;
}
.about--video div {
  display: flex;
}
.about--video div video, .about--video div embed {
  height: 34rem;
  margin: auto;
  width: fit-content;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 875px) {
  .about--work {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
  }
}
.about--work--card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media (min-width: 875px) {
  .about--work--card {
    width: 45%;
  }
}
.about--work--card:nth-of-type(2) section {
  margin-top: 2rem;
}
@media (min-width: 875px) {
  .about--work--card:nth-of-type(2) section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
  }
  .about--work--card:nth-of-type(2) section h3, .about--work--card:nth-of-type(2) section P {
    width: 50%;
  }
}
.about--work--card:nth-of-type(2) section P {
  width: 100%;
}
.about--work--card:nth-of-type(2) section h3 {
  color: black;
  width: 100%;
  text-align: right;
}
.about--work--card:nth-of-type(2) section h3:hover {
  cursor: pointer;
}
.about--work--card:nth-of-type(2) section h3:hover svg {
  transform: translateX(7px);
  transition: 0.3s ease;
}
.about--work--card:nth-of-type(2) section h3 svg {
  fill: #F24C4C;
  width: 1.5rem;
  transition: 0.3s ease;
}
.about--work--card img {
  max-width: 100%;
}
.about--work--card h2, .about--work--card p {
  color: black;
  text-align: left;
}
.about--work--card--color h2, .about--work--card--color p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  color: white;
  text-align: center;
}
.about--work--card--color:nth-child(1) {
  background-color: red;
  padding: 5rem 0 2rem 0;
}
.about--work--card--color:nth-child(2) {
  background-color: black;
  padding: 5rem 0 2rem 0;
}
.about--work--card--content {
  margin: auto auto;
}
.contact {
  border: 1px solid gray;
  margin-top: -5rem;
  background-color: white;
  max-width: 50rem;
}
.contact--hero--image {
  max-width: 100%;
}
.contact--form {
  padding-top: 4rem;
}
.contact--form--inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact--form--inputs section {
  display: flex;
  flex-direction: column;
  width: 42%;
}
.contact--form--inputs input {
  height: 3rem;
  width: 100%;
  margin: 0rem 0 1rem 0;
}
.contact--form--inputs label {
  color: black;
}
.contact--form--message {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contact--form--message input {
  width: 90%;
  height: 10vw;
  margin: 1rem auto;
  box-sizing: border-box;
}
.contact--form--submit {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.contact--form--submit P {
  color: black;
  font-size: 0.8rem;
  text-align: center;
  margin: auto auto;
}
.contact--form--submit button {
  background-color: #F24C4C;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  transition: 0.125s ease;
  width: 8rem;
}
.contact--form--submit button:hover {
  background-color: red;
  transition: 0.125s ease;
}
