---
color: white
root: ../
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 4
title: Team
---

<div class="team article spacing">
    <section class="article--section container spacing">
        <div class="article--content">
        <h2>About me</h2>
        <div class="titleUnderlined"></div>
        <p>I am <span class="text-red">Nick</span> and over the years i have developed a bigger and bigger passion for creating websites and digital solutions.
        </p>
        <p>
        I am always learning, and always looking out for the best way way to put all my skills to use, aswel as exand my expertise.</p>
        </div>
                <div class="team--hero--image side-line">
          <img src="{{root}}assets/img/fotome.jpg">
          </div>
    </section>
</div>

<div class="article text-black spacing">
    <section class="article--section container spacing">
        <div class="article--image">
        <img src="{{root}}assets/img/coding_future.jpg">
        </div>
        <div class="article--content">
        <h2>A dedicated attitude</h2>
        <div class="titleUnderlined"></div>
        <p>I'm a student at ArteveldeHS, Gent, i'm in my <span class="text-red">2nd</span> year graduaat programming course.</br>i make website from scratch starting from an assignment, create the design, developing, creating the back-end / api's needed, and deliver a more than pleasing result every time </p>
        <p class="text_gray">
        in my <span class="text-red">first </span> year i learned to create websites using Html, Css, Sass, Eleventy, JavaScript and React.</br> This year wil be more full stack orientated, And also includes some new languages and tools like Php, MySql, blender and React-typescript.</p>
        </div>
    </section>
</div>

<div class="sectionDevider spacing">
  <p class="sectionDevider--line"></p>
  </div>


<div class="team--qoute spacing">
<h2 class="container"><span class="text_red">"</span>There are three responses to seeing a webiste — yes, no, and WOW! Wow is the only one acceptable and what i aim for.</h2>
</div>

<div class="sectionDevider spacing">
  <p class="sectionDevider--line"></p>
  </div>

<div class="team--video spacing">
  <div class="container">
  <video autoplay loop>
  <source src="{{root}}assets/img/media/loop.webm" type="video/webm">
  </video>
  </div>
</div>

<div class="article text-black spacing">
    <section class="article--section  container spacing">
        <div class="article--image">
        <img src="{{root}}assets/img/future.jpeg">
        </div>
        <div class="article--content">
        <h2>Serious about my digital future</h2>
        <div class="titleUnderlined"></div>
        <p>As i am only <span id="age"></span> years old and have a whole life in front of me, its now the best time of all to learn as much as i can, by learning and mastering as many languages and tools as possible, i am bound to have a future with a lot of possibilities.</p>
        <p class="text_gray">
        Before you see me as and absolute programming geek, know that i also love playing games every once and a while and love old-timers and love working on them even more. I have been playing videogames since i was 14 years old, and believe it or not, that is what teached me how important teamwork and communication is, but also how its even more important to be able to handle your own when needed.</p>
        </div>
    </section>
</div>

<div class="background_white spacing">
  <section class="team--work spacing  container">

    <div class="team--work--card">
      <section>
        <h2>My work</h2>
        <div class="titleUnderlined"></div>
      </section>
        <a href="../work/index.html#2"><img src="{{root}}assets/img/logos/profielfoto.png"></a>
    </div>

    <div class="team--work--card">
        <a href="../work/index.html#6"><img src="{{root}}assets/img/logos/quiz.jpg"></a>
          <section class="team--work--card--content">
          <p>My cases are proof of my abilities to deliver</p>
          <h3 class="spacing"><a class="noLink" href="work/index.html">See more</a><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	    viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve">
        <g>
        	<g>
        		<path d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136
        			c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002
        			v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864
        			c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872
        			l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z"/>
        	</g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
        </h3>
        </section>

    </div>

  </section>
</div>

