.contact {

  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1.225s ease 0.075s forwards;

  section {

    p {
      width: fit-content;
      transition: 0.075s ease all;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        background-color: white;
        padding: 0.30rem;
        border-radius: 50px;
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
      }

      a {
        color: white;
        position: absolute;
        border-left: 0px solid #f51c40;
        margin-left: 2.5rem;
        padding-left: 0.2rem;
      }

      &:hover {

        a {
          color: $Rood;
          transition: 0.125s ease all;
          text-decoration: none;
          animation: hover 0.075s ease forwards;
        }

        img {
          transition: 0.125s ease all;
          background-color: $Rood;
        }
      }
    }

  }
}