.contact{
border: 1px solid gray;
margin-top: -5rem;
background-color: white;
max-width: 50rem;
  &--hero{

    &--image{
      max-width: 100%;
    }
  }
  &--form{
    padding-top: 4rem;
    &--inputs{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
section{
  display: flex;
  flex-direction: column;
width: 42%;
}
input{
  height: 3rem;
  width:100%;
  margin: 0rem 0 1rem 0;
}
label{
  color: black;
}
    }
    &--message{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-bottom: 2rem;
      input{
        width: 90%;
        height: 10vw;
        margin: 1rem auto;
        box-sizing: border-box;
      }
    }
    &--submit{
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      P{
        color: black;
        font-size: 0.8rem;
        text-align: center;
        margin: auto auto;
      }
      button{
        background-color: $Rood;
        border: none;
        padding: 0.5rem 1rem;
        color: white;
        transition: 0.125s ease;
        width: 8rem;
        &:hover{
          background-color: red;
          transition: 0.125s ease;
        }
      }

    }
  }
}