html{
  scroll-behavior: smooth;
}
.hero{

  &--content{

    h1{
      width: 50rem;
      max-width: 100%;
      span{
        color: $Rood;
      }
      span.underlined{
        text-decoration: underline dashed $Rood;
        color: white;
      }
    }
  }
}
.digital{
  padding-top: 6rem;
  @media (min-width:1000px) {
   margin-top: 2rem;
  }
}
.experiences{
margin-top: 1rem;
  &--cards{
@media (min-width: 875px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
    &--content{
      transition: 0.3s ease;
      background-color: $LichtZwart;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0.5rem;
        padding: 1rem 1rem 1rem 1rem;
        h2{
          transition: 0.2s ease;

        }
        @media (min-width: 875px) {
          max-width: 30%;
        }
        &:hover{
          background-color: $Rood;
          cursor: pointer;
          transition: 0.2s ease;
          h2{
          transition: 0.2s ease; 
            color: white;
          }
        }
    }
  }
}

.article {
  &--section {
@media (min-width:875px) {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
  }

  background-color: white;

  &--image {
    display: flex;
    @media (min-width:875px) {
      max-width: 40%;
    }
    &--mirror {
      margin: 0 0 0 auto;
      justify-content: flex-end;
      display: flex;
    }
    
    img {
        margin: auto;
          max-height: 70vh;
          max-width: 100%;
          margin-bottom: 2rem;
          @media (min-width:875px) {
      
          }
      }
  }

  &--content {
      align-self: center;
      height: fit-content;
      @media (min-width:875px) {
          max-width: 40%;

      }

      h3 {
          color: black;

          &:hover {
              cursor: pointer;

              svg {
                  transform: translateX(7px);
                  transition: 0.3s ease;
              }
          }

          svg {
              fill: $Rood;
              width: 1.5rem;
              transition: 0.3s ease;
          }
      }

  }
}

.portfolio{
  background-color: white;
  &--content{
    h2{
      color: black;
    }
    h3{
    color: black;
    text-align: right;
    margin: 0 0 0 auto;
      &:hover{
        cursor: pointer;
        svg{
          transform: translateX(7px);
          transition: 0.3s ease;
        }
      }
    svg{
      width: 1.5rem;
      transition: 0.3s ease;
      fill: red;

    }
  }

  &--cases{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    a{
      box-sizing: border-box;
      width: 100%;
      @media (min-width:875px) {
      width: 80%;
      }

      @media (min-width:1200px) {
        width: 33%;
      }
      }
      img{
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        height: 20rem;
      }
      @media (min-width:875px) {
        flex-direction: row;
      }
    }
  }
}
.skills{
  background-color: white;
  padding: 4rem 0;
  box-sizing: border-box;
 h2{
   color: black;
 }
  @media (min-width:1000px) {
    // height: 40vh;
    padding: 0;
  }
  &--skills{
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-height: 50%;
    h3 {
      color: black;
      text-align: right;
      &:hover {
          cursor: pointer;
          svg {
              transform: translateX(7px);
              transition: 0.3s ease;
          }
      }

      svg {
          fill: $Rood;
          width: 1.5rem;
          transition: 0.3s ease;
      }
  }
  }
  &--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    margin: 2rem 0;
    div{
      margin: 0.5rem;
      width: fit-content;
      transition: 0.2s ease all;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &:hover{
        cursor: pointer;
        transform: scale(1.2)
      }
      img{
        width: 3rem;
        height: 3rem;
        background-color: white;
        border-radius: 100%;
        transition: 0.125s ease all;
        @media (min-width:750px) {
          width: 5rem;
          height: 5rem;      
          transition: 0.125s ease all;
      }
        @media (min-width:1200px) {
          width: 8rem;
          height: 8rem;      
          transition: 0.125s ease all;
      }
      }
      p{
        text-align: center;
        color: black;
      }
    }
  }

}
.subscribe{
  &--container{
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width:875px) {
     flex-direction: row;
    }
  }
  background-color: white;
  p{
    color: black;
  }
  button{
    border: 1px solid $Rood;
    background-color: $Rood;
    height: 3rem;
    width: 6rem;
    color: white;

  }
  input{
    border: 1px solid $LichtZwart;
    height: 3rem;
    width: 20rem;
  }
  &--content{
    margin: auto;
    max-width: 100%;
    margin-top: 2rem;
    @media (min-width:875px) {
      max-width: 50%;
    margin-top: 0;
      
     }
    h2{
      color: black;
    }
    ul{
      padding-inline-start: 0;
      
      li{
        text-decoration: none;
        list-style: none; 

      }
    }
    &--card{
      height: 20rem;
      width: unset;
      @media (min-width:875px) {
      width: fit-content;
        
       }
      img{
          width: 100%;
          max-height: 100%;
      }
    }
    div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
        div{

          a{

            figure{
              transition: 0.2s ease; 
              &:hover{
                transition: 0.2s ease; 
                transform: scale(1.1) rotate(3deg);
              }
              img{
                width: 4rem;
                margin: 1rem;
              }
            }
          }
        }
    }
  }
}
