<footer class="footer">
    <div class="container">
        <div class="justify-content-between">
            <section>
                {% include "components/navigation-footer.njk" %}
            </section>
            <section>
                <h4 class="text-red">My socials</h4>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100008351383023" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/itsnickkjj/" target="_blank">Instagram</a></li>
                    <li><a href="https://twitter.com/?lang=nl" target="_blank">Twitter</a></li>
                </ul>
            </section>
            <section>
                <h4 class="text-red">Other coding plaform</h4>
                <ul>
                    <li><a href="https://github.com/Meastrix001" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/nick-roofthoof-10b1a91a2/" target="_blank">Linked In</a></li>
                    <li><a href="https://stackoverflow.com/users/15215573/meastrix001" target="_blank">Stack Overflow</a></li>
                </ul>
            </section>
            <section>
                <h4 class="text-red">Contact me</h4>
                <ul>
                    <li><a href="tel:+32495675299" target="_blank">+32 495 67 52 99</a></li>
                    <li><a href="mailto:Nroofthooft2012@gmail.com" target="_blank">Nroofthooft2012@gmail.com</a></li>
                    <li><a href="https://github.com/the8gency/say-hello-Meastrix001" target="_blank">My github cv</a></li>
                </ul>
            </section>

        </div>
    </div>
    
    <p class="copyright">Copyright @ <span class="text-red">Nick Roofthooft</span> | Do Not Sell My Personal Information</P>
</footer>