<div class="footer wrapper">
    <ul class="footer--links wrapper">
      <section class="footer--socials footer--nav wrapper">
        <h3>My Socials</h3>
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100008351383023" target="_blank">Facebook</a></li>
          <li><a href="https://www.instagram.com/itsnickkjj/" target="_blank">Instagram</a></li>
          <li><a href="https://twitter.com/?lang=nl" target="_blank">Twitter</a></li>
        </ul>
      </section>

      <section class="footer--platforms footer--nav wrapper">
        <h3>Other platforms</h3>
        <ul>
          <li><a href="https://github.com/Meastrix001" target="_blank">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/nick-roofthoof-10b1a91a2/" target="_blank">Linked In</a></li>
          <li><a href="https://stackoverflow.com/users/15215573/meastrix001" target="_blank">Stack Overflow</a></li>
        </ul>
      </section>

      <section class="footer--options footer--nav wrapper">
        <h3>Contact Options</h3>
        <ul>
          <li><a href="tel:+32495675299" target="_blank">+32 495 67 52 99</a></li>
          <li><a href="mailto:Nroofthooft2012@gmail.com" target="_blank">Nroofthooft2012@gmail.com</a></li>
        </ul>
      </section>

    </ul>

<p class="copyright">Copyright @ Nick Roofthooft | Do Not Sell My Personal Information</P>
</div>