{% set navPages = collections.all | eleventyNavigation %}
        <nav class="nav">
            <ul class="">
                {% for navItem in navPages %}
                    {% if page.url === navItem.url %}
                        <li class="active">
                            <a href="{{ navItem.url }}">
                                <strong>
                                    {{ navItem.title }}
                                </strong>
                            </a>
                        </li>
                    {% else %}
                    <li>
                        <a href="{{ navItem.url }}">
                                {{ navItem.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
