<div class="about--hobbies">
    <h2>Some hobbies of mine</h2>
  <div class="about--hobbies--cards">
    <div class="about--hobbies--cards-card">
      <p>Gaming</p>
    </div>

    <div class="about--hobbies--cards-card">
      <p>Old-Timers</p>
    </div>

    <div class="about--hobbies--cards-card">
      <p>Netflix</p>
    </div>

    <div class="about--hobbies--cards-card">
      <p>Traveling</p>
    </div>

    <div class="about--hobbies--cards-card">
      <p>Learning technologies</p>
    </div>
  </div>
</div>