<nav class="navbar wrapper">
            <ul class="navbar--list">
                {% for navItem in navPages %}
                    <li>
                        <a href="{{ navItem.url }}">
                            {% if page.url === navItem.url %}
                                <strong>
                                    {{ navItem.title }}
                                </strong>
                            {% else %}
                                {{ navItem.title }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>