{% set navPages = collections.all | eleventyNavigation %}
        <nav class="nav nav--sidebar">
            <ul class="wrapper">
                {% for navItem in navPages %}
                    {% if page.url === navItem.url %}
                        <li class="active">
                            <a href="{{ navItem.url }}">
                                <strong>
                                    {{ navItem.title }}
                                </strong>
                            </a>
                        </li>
                    {% else %}
                    <li>
                        <a href="{{ navItem.url }}">
                                {{ navItem.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <section class="nav--sidebar--contact wrapper">
                <div>
                    <a href="tel:+32495675299" target="_blank">
                        <figure>

                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 31.685 31.685" style="enable-background:new 0 0 31.685 31.685;" xml:space="preserve">
<g>
	<path d="M22.507,0H9.175C7.9,0,6.87,1.034,6.87,2.309v27.07c0,1.271,1.03,2.306,2.305,2.306h13.332
		c1.273,0,2.307-1.034,2.307-2.306V2.309C24.813,1.034,23.78,0,22.507,0z M23.085,25.672H8.599V3.895h14.486V25.672z M18.932,2.343
		h-6.181V1.669h6.182L18.932,2.343L18.932,2.343z M21.577,2.035c0,0.326-0.266,0.59-0.591,0.59c-0.326,0-0.591-0.265-0.591-0.59
		s0.265-0.59,0.591-0.59C21.312,1.444,21.577,1.709,21.577,2.035z M18.655,29.225h-5.629v-1.732h5.629V29.225z"/>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                            </svg>

                        </figure>
                        <p>+32 495 67 52 99</p>
                    </a>    
                </div>

                <div>
                    <a href="mailto:Nroofthooft2012@gmail.com" type="email" target="_blank">
                        <figure>

                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 230.17 230.17" style="enable-background:new 0 0 230.17 230.17;" xml:space="preserve">
<g>
	<path d="M230,49.585c0-0.263,0.181-0.519,0.169-0.779l-70.24,67.68l70.156,65.518c0.041-0.468-0.085-0.94-0.085-1.418V49.585z"/>
	<path d="M149.207,126.901l-28.674,27.588c-1.451,1.396-3.325,2.096-5.2,2.096c-1.836,0-3.672-0.67-5.113-2.013l-28.596-26.647
		L11.01,195.989c1.717,0.617,3.56,1.096,5.49,1.096h197.667c2.866,0,5.554-0.873,7.891-2.175L149.207,126.901z"/>
	<path d="M115.251,138.757L222.447,35.496c-2.427-1.443-5.252-2.411-8.28-2.411H16.5c-3.943,0-7.556,1.531-10.37,3.866
		L115.251,138.757z"/>
	<path d="M0,52.1v128.484c0,1.475,0.339,2.897,0.707,4.256l69.738-67.156L0,52.1z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                            </svg>

                        </figure>
                        <p>Nroofthooft2012</p>
                    </a>
                </div>

                <div>
                    <a href="https://goo.gl/maps/QxPCGh1LDFt3nVN39" target="_blank">
                        <figure>

                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="460.298px" height="460.297px" viewBox="0 0 460.298 460.297" style="enable-background:new 0 0 460.298 460.297;"
	 xml:space="preserve">
<g>
	<g>
		<path d="M230.149,120.939L65.986,256.274c0,0.191-0.048,0.472-0.144,0.855c-0.094,0.38-0.144,0.656-0.144,0.852v137.041
			c0,4.948,1.809,9.236,5.426,12.847c3.616,3.613,7.898,5.431,12.847,5.431h109.63V303.664h73.097v109.64h109.629
			c4.948,0,9.236-1.814,12.847-5.435c3.617-3.607,5.432-7.898,5.432-12.847V257.981c0-0.76-0.104-1.334-0.288-1.707L230.149,120.939
			z"/>
		<path d="M457.122,225.438L394.6,173.476V56.989c0-2.663-0.856-4.853-2.574-6.567c-1.704-1.712-3.894-2.568-6.563-2.568h-54.816
			c-2.666,0-4.855,0.856-6.57,2.568c-1.711,1.714-2.566,3.905-2.566,6.567v55.673l-69.662-58.245
			c-6.084-4.949-13.318-7.423-21.694-7.423c-8.375,0-15.608,2.474-21.698,7.423L3.172,225.438c-1.903,1.52-2.946,3.566-3.14,6.136
			c-0.193,2.568,0.472,4.811,1.997,6.713l17.701,21.128c1.525,1.712,3.521,2.759,5.996,3.142c2.285,0.192,4.57-0.476,6.855-1.998
			L230.149,95.817l197.57,164.741c1.526,1.328,3.521,1.991,5.996,1.991h0.858c2.471-0.376,4.463-1.43,5.996-3.138l17.703-21.125
			c1.522-1.906,2.189-4.145,1.991-6.716C460.068,229.007,459.021,226.961,457.122,225.438z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                            </svg>

                        </figure>
                        <p>My Adress</p>
                    </a>
                </div>
            </section>

            <section class="nav--sidebar--socials wrapper">
                <h3>My socials</h3>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100008351383023" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/facebook.svg">
                        </figure>
                    </a>    
                </div>

                <div>
                    <a href="https://www.instagram.com/itsnickkjj/" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/instagram.svg">
                        </figure>
                    </a>
                </div>

                <div>
                    <a href="https://twitter.com/?lang=nl" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/twitter.svg">
                        </figure>
                    </a>
                </div>
            </section>

            <section class="nav--sidebar--socials wrapper">
                <h3>other platforms</h3>
                <div>
                    <a href="https://github.com/Meastrix001" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/github.svg">
                        </figure>
                    </a>    
                </div>

                <div>
                    <a href="https://www.linkedin.com/in/nick-roofthoof-10b1a91a2/" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/linkedIn.svg">
                        </figure>
                    </a>
                </div>

                <div>
                    <a href="https://stackoverflow.com/users/15215573/meastrix001" target="_blank">
                        <figure>
                            <img src="/assets/img/icons/stack-overflow.svg">
                        </figure>
                    </a>
                </div>
            </section>
            <p class="wrapper">Copyright © 2021 Built by <span class="span-red">Nick Roofthooft.</span> All rights reserved.</p>
        </nav>
