<title>{{ title or site.title }} | {{ subdomain or site.subdomain }} | {{ domain or site.domain }}</title>
<meta name="description" content="{{ description or site.description }}">
<link rel="icon" href="{{ root }}assets/img/logo.png"/>